In [1]:
import os
import pandas as pd
parent_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(parent_path)

from comchoice.aggregate import borda, pairwise_matrix, plurality, copeland, k_approval

In [2]:
data = [
   {"voters": 7, "rank": "A>B>C>D"},
   {"voters": 5, "rank": "B>C>D>A"},
   {"voters": 6, "rank": "D>B>C>A"},
   {"voters": 4, "rank": "C>D>A>B"}
]

df = pd.DataFrame(data)

df

   voters     rank
0       7  A>B>C>D
1       5  B>C>D>A
2       6  D>B>C>A
3       4  C>D>A>B

In [3]:
borda(df, ballot="rank")

  alternative  value  rank
1           B     41     1
2           C     35     2
3           D     31     3
0           A     25     4

In [4]:
pairwise_matrix(df, ballot="rank")

_loser      A     B     C     D
_winner
A         0.0  11.0   7.0   7.0
B        11.0   0.0  18.0  12.0
C        15.0   4.0   0.0  16.0
D        15.0  10.0   6.0   0.0

In [5]:
copeland(df, ballot="rank")

  alternative     value  rank
1           B  0.833333     1
2           C  0.666667     2
3           D  0.333333     3
0           A  0.166667     4

In [6]:
k_approval(df, ballot="rank", k=2)

TypeError: comchoice.preprocessing.transform.transform() got multiple values for keyword argument 'delimiter'

In [7]:
plurality(df, ballot="rank")

  alternative  value  rank
0           A      7     1
2           D      6     2
1           B      5     3
3           C      4     4