In [1]:
import os
import pandas as pd
parent_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(parent_path)

from comchoice.aggregate import pav, sav

In [2]:
data = [
   {"voters": 7, "alternatives": "A,B,C,D"},
   {"voters": 5, "alternatives": "C,D,A"},
   {"voters": 6, "alternatives": "D,B,C"},
   {"voters": 4, "alternatives": "B"}
]

df = pd.DataFrame(data)

df

   voters alternatives
0       7      A,B,C,D
1       5        C,D,A
2       6        D,B,C
3       4            B

In [3]:
pav(df, ballot="alternatives")

  alternatives  value
3       (B, C)   28.5
4       (B, D)   28.5
5       (C, D)   27.0
0       (A, B)   25.5
1       (A, C)   24.0
2       (A, D)   24.0

In [4]:
sav(df, ballot="alternatives")

  alternatives      value
3       (B, C)  13.166667
4       (B, D)  13.166667
0       (A, B)  11.166667
5       (C, D)  10.833333
1       (A, C)   8.833333
2       (A, D)   8.833333