In [1]:
import os
import pandas as pd
parent_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(parent_path)

from comchoice.aggregate import ahp, bradley_terry, elo

In [2]:
data = [
   {"voters": 7, "ballot": "A>B>C>D"},
   {"voters": 5, "ballot": "B>C>D>A"},
   {"voters": 6, "ballot": "D>B>C>A"},
   {"voters": 4, "ballot": "C>D>A>B"}
]

df = pd.DataFrame(data)

df

   voters   ballot
0       7  A>B>C>D
1       5  B>C>D>A
2       6  D>B>C>A
3       4  C>D>A>B

In [3]:
elo(df)

  alternative       value  rank
0           C  434.154603     1
3           D  429.271327     2
2           B  416.634812     3
1           A  319.939259     4

In [4]:
elo(df, random_state=42) # Shuffles DataFrame

  alternative       value  rank
2           B  445.487617     1
3           D  415.345991     2
0           C  387.854780     3
1           A  351.311612     4

In [5]:
bradley_terry(df)

  alternative     value  rank
0           D  0.310606     1
3           B  0.265152     2
2           A  0.234848     3
1           C  0.189394     4

In [6]:
ahp(df)

,voter,alternative_a,alternative_b,selected,alternative_a_sorted,alternative_b_sorted,option_selected,card_id,option_source,option_target,id
0,0,A,B,A,A,B,1,A_B,B,A,1
0,0,A,C,A,A,C,1,A_C,C,A,2
0,0,A,D,A,A,D,1,A_D,D,A,3
0,0,B,C,B,B,C,1,B_C,C,B,4
0,0,B,D,B,B,D,1,B_D,D,B,5
...,...,...,...,...,...,...,...,...,...,...,...
21,21,C,A,C,A,C,-1,A_C,A,C,128
21,21,C,B,C,B,C,-1,B_C,B,C,129
21,21,D,A,D,A,D,-1,A_D,A,D,130
21,21,D,B,D,B,D,-1,B_D,B,D,131
21,21,A,B,A,A,B,1,A_B,B,A,132

  alternative  value  rank
0           C    0.0     1
1           A    0.0     1
2           B    0.0     1
3           D    0.0     1