In [1]:
import pandas as pd
from itertools import combinations

In [2]:
import os
os.chdir("../")

In [3]:
from comchoice.datasets import from_preflib
from comchoice.aggregate import borda, divisiveness, win_rate

In [4]:
nodes, edges = from_preflib("https://www.preflib.org/static/data/agh/00009-00000001.soc")
nodes

  alternative      name
0           1  Course 1
1           2  Course 2
2           3  Course 3
3           4  Course 4
4           5  Course 5
5           6  Course 6
6           7  Course 7
7           8  Course 8
8           9  Course 9

In [5]:
# edges["_pairs"] = edges["ballot"]\
#     .apply(lambda x: list(combinations(x.split(">"), 2)))\
#     .apply(lambda x: ["_".join(w) for w in x])

In [6]:
# edges[edges["_pairs"].apply(lambda x: "7_2" in x)]

In [7]:
df_dv = divisiveness(
    edges,
    dtype="ballot",
    convert_pairwise_kws=dict(),
    method=borda
)

df_dv

100%|██████████| 64/64 [00:01<00:00, 46.70it/s]

  alternative       value  rank
0           3  510.142857     1
1           4  372.857143     2
2           6  308.285714     3
3           2  292.428571     4
4           5  259.285714     5
5           7  123.571429     6
6           8  106.000000     7
7           1  103.142857     8
8           9    0.000000     9