In [1]:
import os
import pandas as pd
parent_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(parent_path)

from comchoice.aggregate import borda, pairwise_matrix, copeland

In [2]:
borda

<function comchoice.aggregate.borda.borda(df, alternative='alternative', delimiter='>', ballot='ballot', score='original', show_rank=True, voters='voters', transform_kws={'dtype_from': 'ballot', 'dtype_to': 'ballot_extended', 'delimiter_ties': '=', 'delimiter_score': '=', 'alternative_a': 'alternative_a', 'alternative_b': 'alternative_b', 'selected': 'selected', 'value': 'value', 'voter': 'voter', 'rmv': [], 'unique_id': False, 'ascending': False}, **kws) -> pandas.core.frame.DataFrame>

In [3]:
data = [
   {"voters": 7, "rank": "A>B>C>D"},
   {"voters": 5, "rank": "B>C>D>A"},
   {"voters": 6, "rank": "D>B>C>A"},
   {"voters": 4, "rank": "C>D>A>B"}
]

df = pd.DataFrame(data)

borda(df, ballot="rank")

  alternative  value  rank
1           B     41     1
2           C     35     2
3           D     31     3
0           A     25     4

In [4]:
df

   voters     rank
0       7  A>B>C>D
1       5  B>C>D>A
2       6  D>B>C>A
3       4  C>D>A>B

In [5]:
pairwise_matrix(df, ballot="rank")

_loser      A     B     C     D
_winner
A         0.0  11.0   7.0   7.0
B        11.0   0.0  18.0  12.0
C        15.0   4.0   0.0  16.0
D        15.0  10.0   6.0   0.0