In [1]:
from comchoice.datasets import load_chile
from comchoice.pairwise import Pairwise
import numpy as np
import pandas as pd

In [2]:
df = load_chile()
df.head()

,id,uuid,option_a,option_b,option_a_sorted,option_b_sorted,card_id,selected,datetime,score,cycle,country
0,2076520,9e3ae607-5e28-492f-9cd1-fb03721a7f7f,81,34,34,81,1034081,34,2019-10-26 00:21:56,NaN,1,Chile
1,2076559,9e3ae607-5e28-492f-9cd1-fb03721a7f7f,67,74,67,74,1067074,67,2019-10-26 00:21:59,NaN,1,Chile
2,2076609,9e3ae607-5e28-492f-9cd1-fb03721a7f7f,21,7,7,21,1007021,7,2019-10-26 00:22:03,NaN,1,Chile
3,2076668,9e3ae607-5e28-492f-9cd1-fb03721a7f7f,51,84,51,84,1051084,84,2019-10-26 00:22:06,NaN,1,Chile
4,2076750,9e3ae607-5e28-492f-9cd1-fb03721a7f7f,77,70,70,77,1070077,70,2019-10-26 00:22:12,NaN,1,Chile

In [3]:
pch = Pairwise(df)
pch.voter = "uuid"

In [4]:
pch.bradley_terry()

    candidate     value  rank
54         55  0.017936     1
86         87  0.016933     2
55         56  0.016180     3
44         45  0.015964     4
31         32  0.015920     5
..        ...       ...   ...
10         11  0.004909    86
51         52  0.004640    87
48         49  0.004295    88
71         72  0.003963    89
1           2  0.003765    90

[90 rows x 3 columns]